*{
    margin: 0px;
    /* box-sizing: border-box; */
}
.sec1{
    background-color: #051d52;
    padding-left: 50px;
    padding-top: 70px;
}
.sec1 header h1{
    font-size: 60px;
    padding-top: 40px;
    color: white;
}
.sec1 span{
    color: rgb(230, 54, 92);
}
.sec1 header p{
    font-size: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0%;
    color: white;
}
.img1{
    position: relative;
    top: -300px;
    right:50px ;
    width: 40%;
    height: 60%;
    float: right;
}
.btn1{
    font-size: 15px;
    background-color: rgb(230, 54, 92); color: white;
    border-radius: 30px;
    padding: 15px;
    margin: 10px;
}
.btn2{
    font-size: 15px;
    background-color: rgb(123, 77, 167);
    color: white;
    padding: 15px;
    border-radius: 30px;
    margin: 0px;
}
/* .sec2{
    height: 80vh;
    padding-top: 60px;
    margin-left: 10px;
}
.sec2 h2{ font-size: 55px;
    color: #051d52;
    padding-left: 45px;
    /* display: inline-block; 
    width: 20%;
    float: left;
}
.sec2 div{
    font-size: 20px;
    color: gray;
    padding-bottom: 20px;
    width: 35%;
    margin:5px;
    text-transform: lowercase;
    display: inline-block;
    padding-left: 30px;
}
.btn3{
    background-color: rgb(230, 54, 92);
     color: white;
     padding: 15px;
     border-radius: 50px;
    font-size: 15px;
    margin:25px 20px;
    
}*/
.sec2{
    margin-left: 30px;
    height: 60vh;
    padding-top: 70px;
}
.sec2 h2{
    width: 30%;
    float: left;
    font-size: 60px;
    font-weight: 600;
    color: #051d52;
    margin: 0%;
    line-height: 1;
    box-sizing: border-box;
    font-family:sans-serif;
}
.sec2 div{
   display:inline-block;
    width:30%;
    /* font-size: 20px; */
    /* line-height: 30px; */
    /* margin-left:70px; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    margin-top:20px ;
}
.btn3{
    border-radius: 30px;
    background-color: #dc3545;
    font-size: 15px;
    color: white;
    padding: 20px;
    margin-top:  40px;
}
.sec3{
    background-image: url(../images/how-to-bg.jpg);
    background-size: 100%;
    background-position: right;
    background-repeat: no-repeat;
    margin: 0%;
    background-attachment: scroll;
    padding-top: 90px;
    height: 80vh;
}
.sec3 h2{
    color: white;
    font-size: 60px; 
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0%;
    margin-top: 0px;
}
.div1 h3{ font-size: 30px;
    color: white;
    padding-top: 0px;
    padding-bottom: 90px;
    position: relative;
    top:90px
}
.div1 p{
    font-size: 20px;
    color: white;
    width: 20%;
    position: relative;
    left: -900px;
    top: 2px;
    margin-left: 0%;margin-right: 2%;
    padding-left: 0px; 
}
.div2 h3{ font-size: 30px;
    color: white;
    text-align: center;
    padding-bottom:90px ;
    position: relative;
    top:-70px;
    bottom: 50px;
}
.div2 p{
 font-size: 20px; 
 color: white;  
 width: 20%;
 margin-left: 50%;
 padding-left: 0px;
 padding-bottom: 20px;
 position: relative;
 left:-330px;
 bottom:-40px;
 margin-left: 45%;
}
.div3 h3{
    font-size: 30px;
    color: white; 
    position: relative;
    top:-300px;
    left:900px;
    top:-240px;
}
.div3 p{
    font-size: 20px;
    color: white;
    border: 1px solid white;
    width: 20%;
    padding-left: 0px;
    padding-bottom: 50px;
    position:relative;
    bottom: -20px;
    margin-bottom: 1rem;
    margin-top: 0;
    text-align: left;
}